{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Taskify</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/comman.css' %}" />
  </head>
  <body>
    {% include "header.html" %}
    <section class="hero">
      <h2>All-in-One Productivity Suite</h2>
      <p>
        Stay organized, stay mindful — with tasks, notes, and your daily
        journal.
      </p>
    </section>

    <section class="features">
      <div class="card">
        <h3>To-Do List 📝</h3>
        <p>Plan your day with smart task lists and reminders.</p>
      </div>
      <div class="card">
        <h3>Expense Manager 💸</h3>
        <p>Keep track of your spending and income with ease.</p>
      </div>
      <div class="card">
        <h3>Notes App 🗒️</h3>
        <p>Write, save, and organize your notes anytime.</p>
      </div>
      <div class="card">
        <h3>Daily Journal 🖊️</h3>
        <p>Write your thoughts, emotions, and experiences daily.</p>
      </div>
    </section>
    {% comment %} {% if user.email %} {% endcomment %}
    <section class="button">
      <button onclick="location.href='{% url "login" %}'">Login</button>
      <button onclick="location.href='{% url "register" %}'">Register</button>
    </section>
    {% comment %} {% endif %} {% endcomment %}

    <section id="about">
      <div class="content">
        <div class="intro">
          <h2>About Us-Taskify</h2>
          <p>This is an all-in-one personal productivity app that helps you stay organized and in control of your daily life.</p>
        </div>
    
        <div>
          <h3>✨ Key Features</h3>
          <ul>
            <li><strong>To-Do List:</strong> Manage daily tasks and set reminders.</li>
            <li><strong>Expense Manager:</strong> Track income and spending.</li>
            <li><strong>Notes App:</strong> Save important thoughts and ideas.</li>
            <li><strong>Journalism:</strong> Read and share community-written articles.</li>
          </ul>
        </div>
    
        <div class="mission">
          <h3>🎯 Our Mission</h3>
          <p>Our goal is to simplify your daily routine by offering a single platform for all essential tools — so you can stay productive, mindful, and informed.</p>
        </div>
    
        <div class="developer">
          <h3>👨‍💻 Developed By</h3>
          <p>This project is created by <strong>Saurabh Mahto, Praween Soni</strong>, a passionate BSc (CA) student who aims to build practical and helpful software solutions.</p>
        </div>
      </div>
    </section>

    {% include "footer.html" %}
  </body>
</html>
